@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk", sans-serif;
}
html,
body{
    width:100%;
    height: 100%;
    color: #fff;
}
body.dark{
    background: #000;
}
header{
    width:100%;
}
nav{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 80px;
     background-color:#B11A01 ;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 15px 15px rgba(0,0,0,0.05);
    position:fixed;
    z-index: 99;
}
.logo img{
   width:7vw;
   display: flex;
   align-items:center;
   background-size: cover;
}
#bb{
    text-align: center;
}
nav ul{
    position: relative;
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 6vw;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.2vw;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #fff;
}
nav ul li a:hover{
    color: #fff;
}

nav ul li a::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background:#FEA008;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
}

nav ul li a:hover::before{
     transform: scale(1);
     transform-origin: left;
}
nav .darklight-serachbox{
    display: flex;
    align-items: center;
}
.darklight-serachbox .darklight,
.darklight-serachbox .searchtoggle,
.darklight-serachbox .navclose{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.darklight i,
.searchtoggle i,
.navclose i{
    position: absolute;
    color: white;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.darklight i.sun{
    opacity: 0;
    pointer-events: none;
}
.darklight.active i.sun{
    opacity: 1;
    pointer-events: auto;
}
.darklight.active i.moon{
    opacity: 0;
    pointer-events: none;
}
.searchtoggle i.mark{
    opacity: 0;
    pointer-events: none;
}
.searchtoggle.active i.mark{
    opacity: 1;
    pointer-events: auto;
}
.searchtoggle.active i.search{
    opacity: 0;
    pointer-events: none;
}
.searchbox{
    position: relative;

}
.searchbox .search-felied{
    position: absolute;
    bottom: -85px;
    right: 5px;
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    background:#FEA008;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2) ;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.searchtoggle.active ~ .search-felied{
   bottom: -74px; 
  opacity: 1;
  pointer-events: auto;
}
.search-felied::before{
    content:'';
    position: absolute;
    right: 14px;
    top: -4px;
    height: 12px;
    width: 12px;
    background:#FEA008;
    transform: rotate(-45deg);
    z-index: -1;
}
.search-felied input{
   width:100%;
   height:100%;
   padding: 0 45px 0 15px;
   border-radius: 4px;
   outline: none;
   border: none;
   font-size: 14px;
   font-weight: 400;
}
.search-felied i{
    position: absolute;
    color:#FEA008;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}
.navclose i.atif{
     opacity: 0;
    pointer-events: none;
}
.navclose.active i.atif{
    opacity: 1;
    pointer-events: auto;
}
.navclose.active i.bar{
      opacity: 0;
    pointer-events: none;
}
.navclose{
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    display: none;
}
.navbar{
    display: none;
    margin-left: 12px;
}
.darklight i{
    padding-left: 6px;
}
@media screen and (max-width:800px) {
    .logo img{
      width:75px ;
    }
    nav {
        padding: 0 2vw;
    }
    nav ul{
      position: absolute;
        top: 80px;
        left:0;
        right:0;
        flex-direction: column;
        background-color:#B11A01; 
        gap: 0;
        overflow: hidden;
        transition: all 0.5s ease-in;
    }
    nav ul li{
        padding: 20px;
    }
    nav ul li a{
        font-size: 2vw;
    }
    .navbar{
        display: block;
    }
    .navbar .navclose i{
        font-size: 27px;
    }
    .darklight i{
        padding-left: 28px;
    }
}
@media (max-width:576px) {
    header ul li a{
        font-size: 3vw;
    }
}
.home{
    min-height: 650px;
    background: #B11A01;
    position: relative;
    padding: 7rem  4rem;
}
.home-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    color: #fff;
}
.home-next{
    z-index: 4;
}
.home-next h1{
  
  font-size: 7.5vw;
  line-height: 7vw;
  font-weight: 800;
}
.home-next p{
    font-size: 1.025rem;
    margin: 2rem 0 1rem;
}
.home-next h3{
    font-size: 2.7rem;
    font-weight: 900;
    line-height: 2.7rem;
    margin-bottom: 2rem;
}
.btn{
    max-width: 160px;
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #FEA008;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.5s ease-in;
}
.btn:hover{
    background-color: #000;
}
.home-img{
 max-width: 540px;
 width:100% ;
 z-index: 4;
}
.homemask-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media (max-width:768px) {
    .home-content {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    color: #fff;
}
.home-next h1{
    font-size: 17vw;
    line-height: 16vw;
}
.home-next p{
    margin: 1rem 0;
    font-weight: 900;
}
.home-next h3{
    margin: 1rem 0;
}
.btn{
    padding:10px 9px ;
}
 
}






main{
width: 100%;
}
.pra{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(auto,310px));
    justify-content: space-between;
    gap: 1rem;
    padding: 2rem 4vw;
    border-bottom:1px solid rgba(18 18 18 / 20%);
    color: #000;
}
.dra1{
  display: flex;
  align-items: center;
  gap: 8px;

}
@media (max-width:712px) {
    .pra{
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
    }
}
@media (max-width:532px) {
    .pra{
        display: grid;
        grid-template-columns:repeat(1, 1fr) ;
        padding-left: 19vw;
    }
    .dra1{
        margin-bottom: 10px;
    }
}

.pesto{
    color: #000;
}
.pesto h1{
    display: flex;
    justify-content: center;
    font-size: 3.2rem;
    margin-top: 40px;
    margin-bottom: 20px;
}
.pesto .imgess .img1 #bb{
   
}
.pesto .imgess{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.pesto .imgess .img1 h6{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.7rem;
}
.pesto .imgess .img1 p{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   font-size: 1.2rem;
}
.pesto .imgess .img1 img{

    width:60%;
 transition: transform 0.2s ease; 
}
.pesto .imgess .img1 img:hover{
     transform: scale(1.1);
 }
#bb1{
    text-align: center;
}
#bb2{
    text-align: center;
}
#bb3{
   text-align: center ;
}
#bb4{
    text-align: center;
}
#bb5{
    text-align: center;
}
@media (max-width:786px) {
 
 .pesto .imgess .img1 img{
      width:70%; 
 }
 .pesto .imgess .img1 h6{
    font-size:1.7rem ;
 }
 .pesto .imgess .img1 p{
    font-size: 1.3rem;
 }
.pesto h1{
    font-size: 7vw;
    margin-top: 10px;
    margin-bottom: 10px;
}
}

.futermenu{
     width:100%; 
     color: #000;
     background:rgba(235, 225, 208, 0.626);
     margin-top: 20px;
}
.futermenu .futer h1{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  font-size: 4rem;
}
.futermenu .card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 15px;
  flex-wrap: wrap;
  gap: 2vw;
}
.futermenu .card .card1{
    width: 250px;
    height: 330px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 30px #787676;
}
.futermenu .card .card1 h4{
    border: 1px solid black;
    width: 40px;
    margin: 7px 200px;
    background: #000;
    color: #fff;
    border-radius: 4px;
}
.futermenu .card .card1 img{
    margin: 0 35px;
    width:70%;
    transition: transform 0.2s ease; 
}
.futermenu .card .card1 img:hover{
    transform: scale(1.1);
}
.futermenu .card .card1 h6{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2vw;
  color: rgba(100, 18, 18, 0.998);
  margin-top: 3px;
}
.futermenu .card .card1 p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  color:rgb(107, 18, 18);
  margin-top: 7px;
  font-weight: 900;
}
.futermenu .card .card1 button{
  margin: 10px 80px;
  background: #FEA008;
   font-weight: 900;
   border: none;
   outline: none;
   border-radius: 8px;
   padding: 6px 9px;
   cursor: pointer;
}
.futermenu .card .card1 button:hover{
    background: #000;
    color: #fff;
}
.futermenu .card .card1 p span{
  text-decoration: line-through;
}
.div{
    height: 7px;
    width: 100%;
}
@media (max-width:768px) {
    .futermenu .futer h1{
        font-size: 8vw;
        padding-top: 7px;
        padding-bottom: 13px;
    }
    .futermenu .card .card1 h6{
        font-size: 17px;
    }
    .futermenu .card .card1 p{
        font-size:12px ;
    }
}
.shopcard i{
  font-size:20px ;
  display: flex;
  align-items: center;
  padding-left: 4px;
  cursor: pointer;
  position: relative;
}
.shopcard span{
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
     font-size: 15px;
     top: 22px;
}
.menu-continer{
    width:100%;
    background: #000;
  position: relative;
  padding: 2rem 4vw;
}
.menu-continer .heading-continer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vw;
}
.menu-mask{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    object-fit: cover;
}
.menu-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
.menu-box{
    z-index: 4;
}
.menu-box h2{
    font-size: 2.4rem;
    font-weight: 500;
    color: #FEA008;
    margin-bottom: 1.8rem;
}
.mitms-box{
    display: grid;
    grid-template-columns: 82px 1fr;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-bottom: 1px dashed #ffffff7c;
    padding: 10px;
}
.mitms-box:hover{
    background: #FEA008;
    transition: background 0.3s ease-in-out;
}
.mitms-box img{
    width: 100%;
    border-radius: 10px;
}
.buger-content:last-child,
.bbq-content:last-child{
    border-bottom: 1px dashed #ffffff7c;
}
.mitem-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mitem-des{
    padding: 0 16px 0 8px;
}
.mitem-des h3{
    font-size: 1.075rem;
    font-weight: 500;
}
.mitem-des p{
    font-size: 0.94rem;
    color: rgba(255, 255, 255, 70%);
    margin-top: 4px;
}
.mitem-prices{
    padding-left: 15px;
       border-left: 1px dashed #ffffff7c;
}
.mitem-prices h3{
    font-weight: 500;
    font-size: 1.075rem;
    padding: 0  3vw;
}
.mitem-prices p{
    padding: 0 3vw;
    font-weight: 400;
    margin-top: 7px;
      color: rgba(255, 255, 255, 70%);
      text-decoration: line-through;
}
@media (max-width:768px) {
    .menu-continer .heading-continer{
        font-size: 5vw;
    }
    .menu-box h2{
        font-size: 5vw;
    }
    .menu-content{
         display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
}
.testimonials{
    width: 100%;
    color: #000;
    padding: 1.7vw 10vw;
}
.testh1 h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    margin-bottom: 20px;
    
}
.testcards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    color: #fff;
}
.testcard1{
    background: #B11A01;
    padding: 30px;
    border-radius: 10px;
}
.testicons{
    margin-bottom: 10px;
    color: #FEA008;
}
.testimg img{
    margin-top: 10px;
    border-radius: 50%;
}
.testname h6{
   font-size: 1rem;
}
@media (max-width:786px) {
    .testcards{
           display: grid;
    grid-template-columns: repeat(1,1fr);
    }
    .testh1 h1{
        font-size: 3rem;
    }
}
.sub{
    max-width: 1040px;
    width:90%;
    margin: auto;
    color: #000;
}
#neslater h1{
    text-align: center;
    font-size: 3.3rem;
    font-weight: 800;
}
#neslater p{
    text-align: center;
    font-size: 1.3rem;
}
#neslater form{
    max-width: 600px;
    margin: 1.8rem auto auto auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.5rem;
}
#neslater form input{
    border: none;
    outline: none;
padding: 0 20px;
}

#neslater form .email{
    width:100%;
}
#neslater form input::placeholder{
    color: #000;
    font-size: 0.94rem;
    font-weight: 400;
}
#neslater form .s-btn{
    background: #FEA008;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    
}
#neslater form .s-btn:hover{
    background: #000;
    color:#fff ;

}
.con{    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 4vw;
    background: #171717;    
    margin-top: 20px;    
}
.pra p {
     margin-bottom: 1vw;
     color: #fff;
     font-weight: 900;
}
@media (max-width:718px) {
    .con{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}







